@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-primary: #251f47;
  --color-primary-alt: #404e7c;
  --color-secondary: #1a4249;
  --color-background: #86cb92;
  --color-text: #1f1d2b;
  --color-light: #fff;
  --color-anchor: #251f47;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  text-align: center;
}

#main h2 {
  align-self: center;
  color: var(--color-secondary);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  place-items: center;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 1rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header {
  display: grid;
  place-items: center;
  color: var(--color-primary);
  text-align: center;
}
header h2 {
  max-width: 15em;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: var(--color-secondary);
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate(-50%, -50%);
  transition: 300ms transform ease-in;
  background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
  opacity: 0.8;
  content: "";
  z-index: -1;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
  #guidelines p:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg) translate(4.75rem, -3.5rem);
    transform-origin: left center;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-primary-alt);
    font-size: 0.9em;
    font-weight: normal;
    content: "â† Whoa, text gradients!";
  }
}
#guidelines .container > a {
  align-self: center;
}

#about section:nth-child(2) {
  position: relative;
}

#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}

#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-light);
}

#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform: translate(-50%, -50%);
  transition: 300ms transform ease-in;
  background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
  opacity: 0.8;
  content: "";
  z-index: -1;
}

@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}
#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  outline: 4px dashed var(--color-secondary);
  background-color: var(--color-background);
  text-align: center;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.features li {
  padding: 1rem;
  color: var(--color-light);
  text-align: center;
}
.features li > span a {
  color: inherit;
}

#styles {
  text-align: center;
}
#styles h2 {
  color: var(--color-primary);
}

.profile {
  color: var(--color-primary);
}

.page-footer {
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-light);
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  display: none;
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}

.page-footer [class^=link] {
  color: var(--color-background);
}

.link-github svg {
  display: none;
}
