@mixin sun-layer {
  background-image: url('data:image/svg+xml,<svg viewBox="-72 10 362 200" version="1.1"><circle id="cSun" cy="45" cx="131" r="31"></circle></svg>');
}

@mixin mountain-layer {
  background-image: url('data:image/svg+xml,<div id="mountain4" class="layer"><svg viewBox="-72 10 362 200" version="1.1"><path d="M 309.053,28.1408 C 305.60059,28.516599 302.50609,29.674135 300.36717,31.958715 298.5112,33.107179 296.17781,32.658324 295.72382,34.913675 294.14153,35.642869 293.46107,35.165129 291.64321,37.024255 288.0593,36.534452 286.16292,41.270958 284.1856,40.964111 283.05815,38.727029 280.96167,43.36017 278.83852,40.823124 274.51286,44.014932 270.08489,35.387496 265.61154,38.994006 260.48976,42.193497 254.34086,41.575881 249.38987,44.677762 248.33752,40.802476 242.85462,42.463837 240.00258,40.260361 237.27198,40.135725 235.23937,39.488262 233.38921,37.586862 225.46302,37.076398 219.22774,43.665587 211.86084,44.90371 205.70515,49.078511 197.7116,48.585726 190.61376,50.531997 182.54568,51.400309 174.13198,53.089278 165.70824,51.657608 161.42601,50.839622 158.95601,47.954021 156.42154,44.762951 152.42359,44.380458 150.82918,39.894901 146.43116,41.385958 142.05053,42.304319 138.67654,45.336536 133.90805,44.200008 128.59647,42.97281 124.04844,47.471522 118.34794,46.864335 112.16617,50.743044 104.78599,51.173332 98.449278,53.627621 92.547127,54.510361 84.411837,51.563405 87.299188,60.714385 87.299188,100.79093 87.299188,140.86748 87.299188,180.94403 33.084521,180.94403 -21.130145,180.94403 -75.344812,180.94403 -75.344812,192.12703 -75.344812,203.31003 -75.344812,214.49303 69.141498,214.48141 213.5852,214.42717 357.97285,214.31689 362.63707,212.87535 373.71844,217.85097 372.40989,210.43666 372.40246,155.7113 372.41748,100.88268 372.41689,46.228764 369.15049,46.168226 367.82846,43.32158 363.96744,43.073303 360.2135,40.131573 355.37035,41.524803 351.72576,40.118522 347.38607,37.190253 341.00858,39.381467 336.95133,35.897177 331.14475,33.239337 325.492,30.412738 318.94048,30.690867 315.78726,30.835801 312.21442,30.697782 310.92016,28.158105 310.29945,28.14135 309.66905,28.189348 309.053,28.1408 Z M 296.84893,33.225093 C 251.40478,55.66722 205.96064,78.109346 160.51649,100.55147 205.96064,78.109347 251.40478,55.66722 296.84893,33.225093 Z M 133.32989,43.899303 C 132.94789,43.874632 133.43708,43.993487 133.32989,43.899303 Z M 371.26968,45.864133 C 371.51121,46.092959 371.45981,45.857151 371.26968,45.864133 Z M 371.76345,46.011767 C 371.3161,46.028061 372.29572,46.165265 371.76345,46.011767 Z"></path></svg></div>');
}

header {
  display: grid;
  place-items: center;
  color: var(--color-primary);
  text-align: center;

  .container{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1{
      margin-top: 10px;
      font-size: 60px;
      margin-bottom: 10px;
      padding-top: 20px;
    }
    h2{
      grid-column:1/3;
      font-size: 42px;
      margin-bottom: 10px;
    }
    h1, h2, p{
      text-align:left;
    }
    p{
      grid-column: 1/3;
    }
    > a{
      grid-column: 2/3;
      grid-row:1/2;
      padding: 20px 10px;
      margin: 20px 55px;
      font-size: 54px;
      position:relative;
      height: 140px;
      width: 140px;
      z-index:3;
      span{
        position:absolute;
        left:0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-primary;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        animation: circle 4s linear infinite;
        transition: 0.5s;
      }
      &:before{
        content: '';
        position:absolute;
        left:0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-primary;
        border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        transition: 0.5s;
      }
      &:before{
        animation: circle 6s linear infinite;
      }
      &:hover span{
        background-color: $color-primary-alt;
        border: none;
      }
      &:hover{
        &:after{
          position:absolute;
          content:"Star on Github";
          z-index: 3;
          left: 0px;
          color: #fff;
        }
        &:before{
          background-color: $color-primary-alt;
          border: none;
        }
      }
    }
    .link-github{
      font-size: 28px;
    }
  }
  h2 {
    max-width: 15em;
  }
  &::before, &::after {
    content: "";
    width: 100%;
    height: 400px;
    // background: url('https://source.unsplash.com/wCi28eq8TF4');
    background: url('https://source.unsplash.com/7PqRZK6rbaE');
    position: relative;
    opacity: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100vh;
  @include sun-layer;
}