.skip-link {
  display: none;
}

[class^="link"]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}

.page-footer [class^="link"] {
  color: var(--color-background);
}

.link-github {
  svg {
    display: none;
  }
}
