nav {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: var(--color-secondary);
    a {
      display: inline-grid;
      padding: 0.5rem;
      color: white;
      text-decoration: none;
    }
  }
}
