.features {  
  li {
    padding: 1rem;
    color: var(--color-light);
    text-align: center;
    > span a {
        color: inherit;
    }
  }
}

#styles {
  text-align: center;
  h2 {
    color: var(--color-primary);
  }
  .container{
    width: 1300px;
    li{
      text-align:center;
    }
  }
}
@media (max-width: 1270px) {
  #styles{
    .container {
      width: 100vw;
    }
  }
  
  
}